html {
  font-family: Helvetica;
  background: #000;
  color: #bbb;
}

.alt-container,
.container {
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -515px;
  width: 1030px;
}
#controls {
  position: relative;
  width: 900px;
  margin: 10px auto 0;
}
#bar {
  background: #333;
  height: 20px;
  width: 900px;
  position: relative;
  border-radius: 100px;
}
#handle {
  border-radius: 100px;
  background: #bbb;
  height: 20px;
  width: 20px;
}
#display {
  width: 900px;
  margin: 0 auto;
}
#about {
  width: 900px;
  position: relative;
  margin: 0 auto;
  top: 800px;
  font-size: 14px;
  line-height: 1.4;
}
#playpause {
  cursor: pointer;
  position: absolute;
  left: -22px;
  top: 2px;
}
#masktoggle {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -28px;
}
#mask_map {
  display: none;
  z-index: 11;
}

#map_1 { z-index: 1; }
#map_2 { z-index: 2; }
#map_3 { z-index: 3; }
#map_4 { z-index: 4; }
#map_5 { z-index: 5; }
#map_6 { z-index: 6; }
#map_7 { z-index: 7; }

svg {
  shape-rendering: optimizeSpeed;
}
